<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Chamba | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiChamba.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow fixed-top" id="navbar">
            <div class="container">
                <a class="navbar-brand position-relative d-none d-md-block" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo-png.jpeg" class="img-fluid logo d-none d-md-block" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="w-50"></div>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav text-nowrap">
                        <li class="nav-item">
                            <a class="nav-link" href="/#home-section">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#ofertas-section">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#nosotros-section">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#recursos-section">Recursos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-login" asp-controller="Usuario" asp-action="Login">Iniciar Sesion</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
        

    </main>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            &copy; 2023 - MiChamba 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
