@using MiChamba.Models;
@using MiChamba.ViewModel;

@{
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";

    List<PostulacionUserViewModel>  postulaciones = ViewBag.postulaciones;
}

<div class="container mt-3">
    <table class="table">
            @if (postulaciones.Count > 0)
            {
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Estado de Postulación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                
                @foreach (PostulacionUserViewModel postulacion in postulaciones)
                {
                   
                    <tr>
                        <td>@postulacion.nombre</td>
                        <td>@postulacion.apellido</td>
                        <td>@postulacion.estado_postulacion</td>
                        <td>
                            
                            @{
                                if (postulacion.curriculum != null)
                                {
                                    <a href="~/uploads/pdf/@postulacion.curriculum" class="btn btn-primary" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                        </svg>
                                    </a>
                                }
                                else
                                {
                                    <input type="text" value="Ver CV" class="btn btn-secondy w-100" readonly />
                                }
                            }


                           <form method="post" asp-controller="Empresa" asp-action="ActualizarPostulacion">
                                <input type="hidden" name="id" value="@postulacion.IdPostulacion" />
                                <select name="estado">
                                    <option value="En proceso">En proceso</option>
                                    <option value="Revision">Revision</option>
                                    <option value="Aceptado">Aceptado</option>
                                    <option value="Rechazado">Rechazado</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </form>
                           
                        </td>
                    </tr>
                }

                   
            </tbody>
            }
            else
            {
                <tr>
                    <td colspan="4">No hay datos disponibles.</td>
                </tr>
            }
    </table>
</div>
