@{
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<style>
    .container {
        padding: 30px;
        border-radius: 15px;
    }

    .text-infort {
        margin-bottom: 20px;
        color: black !important;
    }

    form {
        color: white;
    }

    input {
        background-color: white;
    }

    .button {
        padding-top: 20px;
    }

</style>
<div class="container">

    <div class="text-infort">
        <h1 style="color: black; background-color:white">Informacion de trabajo</h1>
    </div>
    <div class="bg-dark container">
        <form method="post" action="">
            <div class="form-group col-sm-12 mb-3">
                <label for="tituloTrabajo" class="form-label">Titulo del trabajo</label>
                <input type="email" class="form-control" id="tituloTrabajo" style="color: black; background:white !important;" required>   
            </div>

            <div class="form-group col-sm-12 mb-3">
                <label for="educacion" class="form-label">Educación</label>
                <input type="text" class="form-control" id="educacion" name="Educacion" style="color: black; background:white !important;" required>
            </div>
            <div class="form-group col-sm-12 mb-3">
                <label for="experiencia-educacion" class="form-label">Experiencia:</label>
                <input type="text" class="form-control" id="experiencia-educacion" name="ExperienciaEducacion" style="color: black; background:white !important;" required>
            </div>
            <div class="form-group col-sm-12 mb-3">
                <label for="habilidades-educacion" class="form-label">Habilidades:</label>
                <input type="text" class="form-control" id="habilidades-educacion" name="HabilidadesEducacion" style="color: black; background:white !important;" required>
            </div>

            <div class="form-group col-sm-12 mb-3">
                <label for="conocimientos" class="form-label">Conocimientos:</label>
                <input type="text" class="form-control" id="conocimientos" name="Conocimientos" style="color: black; background:white !important;" required>
            </div>

            <div class="button d-grid gap-2 col-2 mx-auto mt-3">
                <button class="btn btn-primary" type="submit">Publicar</button>
            </div>
        </form>
    </div>
</div>
