.content-ofert {
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.text-infort {
    color: white;
    margin-top:70px;
    margin-left: 50px;
}

.contform {
    justify-content: center;
}