@using MiChamba.ViewModel

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    List<PostulacionViewModel> postulaciones = ViewBag.postulaciones;
}

<div class="container">
    <form asp-action="Ofertas" method="post" class="mb-4">
        <div class="form-group">
            <fieldset class="d-flex gap-2">
                <input type="text" class="form-control" name="empleoBuscar" placeholder="Buscar empleo" required />
                <input type="submit" class="btn btn-success" value="Buscar" />
            </fieldset>
        </div>
    </form>

    <div class="bg-dark p-4 rounded">
        <div class="row">
            <div class="col-md-4">
                <a asp-action="Postulaciones">
                    <div class="card mb-3 w-100">
                        <div class="card-header text-muted">
                            Postulaciones
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <h1 class="text-center text-muted display-1">
                                    @postulaciones.Count
                                </h1>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            
        </div>
    </div>
</div>