@using MiChamba.ViewModel;
@using MiChamba.Models;

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    var datos = ViewBag.datosUsuario;

}


<style>

    #content-height2 {
        width: 100%;
        max-width: 500px;
        height: 100%;
        min-height: 520px;
        background-color: #212A3E;
        border-radius: 15px;
        padding-bottom:10px;
    }

    .form-control{
        background: #fff !important;
    }

</style>
<div class="container mt-5 pt-1" style="display:flex; justify-content:center;">
    <div id="content-height2">
        <div class="row col-lg-12">
            <div class="d-flex justify-content-center align-items-center">
                <div class="targetPerfil">
                    <h2 class="text-white text-center pt-5">Modificacion de perfil</h2>

                    @{
                        <div class="inputbox mt-4">
                            <label for="" class="text-white">Nombre: </label>
                            <input name="Nombre" type="text" class="form-control mt-1" placeholder="Nombre" value="@datos.Nombre">
                        </div>

                        <div class="inputbox mt-4">
                            <label for="" class="text-white">Apellido: </label>
                            <input name="Apellido" type="text" class="form-control mt-1" placeholder="Apellido" value="@datos.Apellido">
                        </div>

                        <div class="inputbox mt-4">
                            <label for="" class="text-white">Correo electrónico: </label>
                            <input name="Email" type="text" class="form-control mt-1" placeholder="Correo" value="@datos.Email">
                        </div>

                        <div class="inputbox mt-4">
                            <label for="" class="text-white">Contraseña: </label>
                            <input name="Password" type="text" class="form-control mt-1" placeholder="*****" value="@datos.Password">
                        </div>
                    }

                    <div class="text-center mt-3">
                        <button class="btn btn-primary" type="submit"> Modificar</button>
                    </div>
                </div>

            </div>

        </div>
    </div>



</div>